;
; Sample Msged TE configuration file
;
; On OS/2, DOS and Windows, you have to rename this file to MSGED.CFG and
; place it in the directory where MsgEd TE is installed.
;
; On Unix, you have to rename this file to .msged and put it into your home-
; directory ("mv sample.cfg ~/.msged").
;
; This sample configuration file is intended to give you a quick start into
; MsgEd TE. It does not want to be a full documentation. Hence, it does
; not cover all possible keywords and switches. For a full documentation,
; refer to the MsgEd TE manual.
;
;-----------------------------------------------------------------------------



; Section 1 of this file covers settings that apply to both the DOS/WIN/OS/2
; ========= version and the Unix/Linux version.


Name "Joe Sysop" lastread 0
;Configure your user name. "lastread" specifies the name of the lastread
;pointer file for *.msg, the number after it is the lastread pointer offset
;for squish message bases.
;In this case, it is 0, indicating that you are the sysop
;If you configure a second user name that is a different person, you probably
;want him/her to have a different lastread pointer file and a different
;lastread pointer file and/or a different lastread pointer offset:
;Name "Jane Sysop" lr_jane 1

Address 2:2499/9876
Address 99:1234/567.97
Address 242:9876/5432.0@fido.de
;Configure as much FTN addresses as you desire.
;The addresses can be 3D, 4D or 5D.

;Uucp 242:4900/99
;Here, you can define the address of an internet (UUCP) that you want to use.
;Refer to the manual for further details-

Uucpname UUCP
;Uucpname *
;Use "Uucpname *" instead of "Uucpname UUCP" if the gateway software of your
;gateway is Fidogate.

Origin We love MsgEd ...
Origin MsgEd TE is available for OS/2, Linux, NT and DOS!
;Define one or more origin lines. If you define more than one, the line
;that will be used will be selected randomly each time you write a new mail.

;LastRead lastread
;The default name of the lastread pointer file for *.MSG. Since MSGED TE 06,
;this is already predefined to "lastread", so normally you do not need this
;keyword.

;TossLog e:\squish\echotoss.log
;Uncomment this if you want all mails that you write be recorded in the
;echotoss.log file. See the manual for further details.

UserOffset 0
;Again, the 0 indicates that you are the sysop of this system.

Quote _&>_
;Your quote string prefix. Leave this as is.

QuoteRight 75
;Right margin to use when quoting text.

NodePath r:\mailer\nodelist
;Path to the raw nodelist and the compiled V7 nodelist index

Nodelist fidonet nodex sysop.ndx
;Define the names of the index file. Refer to the manual for further details.

UserList r:\mailer\nodelist\fidouser.lst
;If you are able to generate a FIDOUSER.LST file, do so. The lookup routines
;in MsgEd that work with a FIDOUSER.LST file are much better than those that
;work with plain V7 indices.

QuickBBS r:\mailer\msgbase\hudson
;Path to your Hudson / QuickBBS message base files, if you use one.

AreaFileFlags 8u
;Enable FSC 0054 and internet gateway features.

;AreaFile Fastecho E:\MAILER\fastecho\fastecho.cfg
;AreaFile Squish r:\mailer\squish\squish.cfg
;AreaFile Areas r:\mailer\squish\areas.bbs
;AreaFile Gecho r:\mailer\gecho
AreaFile Fidoconfig
;
;Read in all message areas defined in a tosser configuration file
;
;Note that the paramter to "Areafile Gecho" is the path name to the
;gecho directory, not a specific file name.

FreqArea NETMAIL
;Area tag where file request mails should be saved. Normally, this should
;be your netmail folder.


AlterFunc ReplyQuote      Q
AlterFunc ReplyOtherArea  QA
AlterFunc ReplyFollow     QF
AlterFunc ReplyExtra      QAF
;Leave these as they are..

Switch EditTearlines On
Switch EditOriginlines On
;Show the tear and origin lines in the message editor. You can switch
;this off if you do not like it.

Switch UseLastr On
;Use lastread pointers. Who would not want to do this?

Switch NetmailVia Off
;It does not make much sense for a message editor to insert tear lines ..

Switch SquishLock Off
;If you are running on a non-networked single tasking system, you could
;turn this switch on to improve performance

SortAreas NGD
;Sort the message areas: (N)etmail first, then by Fastecho (G)roup,
;then by area (D)escription.

;Function 0  ^m             ; Autostart macro
;Uncomment this if you do not want MsgEd to stop at the logo display on
;startup.

Function 1  \0x23
; F1 = Help menu

; Here is how you can manually define message areas (in case that MsgEd
; does not support the configuration file of the tosser that you are using):
;
; <format>  <area-type[msgattrs]> <"Area description"> <path> <tag> [address]
;
;   <format>         Squish | Fido | Quick
;   <area-type>      m .. netmail
;                    e .. echomail
;                    u .. enable gateway features for this area
;                    8 .. write mails with CHRS kludge in this area
;   <msgattrs>       p .. private
;                    k .. kill/sent
;   <"description">  Description of area
;   <path>           Path to messagebase (or HMB board number)
;   [tag]            Echomail areatag; do not specify for non-echomail areas
;   [address]        FTN address to use for this area
;
; Some examples:

Fido   mu8  "Intransit Netmail" e:\msgbase\intransit\
Squish mu8p "Netmail Folder"    e:\msgbase\netmail
Squish eu8  "MsgEd Support"     e:\msgbase\msged   MSGED_ECHO
Squish eu8  "Test echo"         e:\msgbase\z99test Z99.TEST   99:1234/567.97



; Section 3 of this file covers character set specific settings. They are
; ========= depend on your operating system as well as on your location.

; PLEASE NOTE that in the following the Readmap and Writemap keywords are
; always commented out. This is because in the step by step installation
; guide section of the Msged manual (I HOPE YOU READ IT!!!), you already have
; been instructed to copy the corresponding read and write map files to their
; default locations and file names. Only if you did not follow those
; instructions (perhaps because you want to create two msged.cfg files for a
; bilingual setup, where one fires up Msged with a Western code page and
; the other one with a cyrillic codepage) you need to use the Readmap and
; Writemap keywords.


; The following settings are common for all locations
CharsetAlias +7_FIDO CP866
CharsetAlias RUFIDO CP866
CharsetAlias FIDO7 CP866
CharsetAlias FIDO  CP866
AssumeCharset IBMPC

; First come the settings for OS/2, DOS and Windows users

IF UNIX
ELSE
  ;You must uncomment exactly one of the following blocks:

  ; The following settings are good for most of Western Europe.
  ; They assume that you are using Codepage 850.
  ;ReadMap READMAPS.850
  ;WriteMap WRITMAPS.850
  OutputCharset IBMPC
  CharsetAlias IBMPC CP850

  ; If you are using Codepage 437 as primary codepage (some European users
  ; and most American ones do this because of yet more IBM graphics characters)
  ; use the following block instead of the one above
  ; ;ReadMap READMAPS.437
  ; ;WriteMap WRITMAPS.437
  ; OutputCharset IBMPC
  ; CharsetAlias IBMPC CP437

  ; If you are using Codepage 866 (Russian Alphabet), use the following
  ; block instead of the ones above
  ; ;ReadMap READMAPS.866
  ; ;WriteMap WRITMAPS.866
  ; ;The following line takes care of 0x8D (big en):
  ; SoftCrXlat 72
  ; OutputCharset CP866
  ; CharsetAlias IBMPC CP866

  ; If you are using Codepage 1125 (Ukraine, Belorussia), use the following:
  ; ;ReadMap READMAPS.UKR
  ; ;WriteMap WRITMAPS.UKR
  ; SoftCrXlat 72
  ; OutputCharset CP1125
  ; ; or for compatibility with Russia: OutputCharset CP866
  ; CharsetAlias IBMPC CP866

ENDIF


; Now the settings for UNIX users.
;
; General remark: You must replace the arguemnts of the ReadMap and WriteMap
; statements with the path and file name where you copied those files to.
; This might be ~/.msged.readmaps, or /usr/local/share/msged/readmaps.xxx, or
; anything else.
;
; Remark for Russian users: If you set up Msged as indicated below, you
; must DISABLE any recoding mechanism in your tosser. The below settings
; prepare Msged to read mails in Codepage 866 from your message base and
; display them with KOI8-R fonts or ISO 8859-5 fonts in your xterm. If the
; tosser already does the recoding, this won't work of course.


IF UNIX

  ; The following settings are good for most of Western Europe.
  ; They assume that you are using ISO 8859-1 encoding.
  ReadMap readmaps.is1
  WriteMap writmaps.is1
  OutputCharset IBMPC
  CharsetAlias IBMPC CP850

  ; These ones are for a Russian Unix with vendor ISO 8859-5 fonts:
  ;ReadMap readmaps.is5
  ;WriteMap writmaps.is5
  ;OutputCharset CP866
  ;CharsetAlias IBMPC CP866

  ; These ones are for a Russian Linux / FreeBSD with cronyx KOI8-R fonts:
  ; ReadMap readmaps.koi
  ; WriteMap writmaps.koi
  ; OutputChraset CP866
  ; CharsetAlias IBMPC CP866  ; This substitution used to view messages written by lame users

ENDIF


; Section 3 of this file covers settings that only make sense on certain
; ========= operating systems.

;First comes the huge bunch of UNIX specific settings:

IF UNIX

  Switch Shadows Off
  ;Drawing shadows around dialog borders is a nice feature, but it costs too
  ;much time on typical UNIX terminal.

  Template ~/.msged.tpl
  ;The template file defines templates for greetings, signoffs and footers.

  HelpFile ~/.msged.hlp
  ;HelpFile /usr/local/share/msged/msged.hlp
  ;This is a binary file containing the online help

  ;MountDir /bbsdisk E:
  ;If you install MsgEd on Unix, but your tosser runs on OS/2, DOS or Windows
  ;(supposing the messagebase is shared via Samba or NFS), your tosser
  ;configuration file (AreaFile) will contain DOSish path references (like
  ;E:\MAILER\MSGBASE\MSGED.SQD) that have to be translated to be useful to
  ;the MsgEd which is running on Unix.
  ;Suppose that the OS/2 PC running the tosser mounts drive E: from your Unix
  ;server. Everything that is stored on the E: disk will then be visible in
  ;the /bbsdisk subdirectory on Unix. If you specify "MountDir /bbsdisk E:",
  ;MsgEd will translate all filenames that it reads from the tosser config
  ;file that start with "E:" accordingly (the string "E:" will be replaced with
  ;"/bbsdisk"). It will of course also translate ;backslashes into slashes etc.
  ;For this to work, you must of course place the MountDir keyword *before*
  ;the AreaFile keyword!


  ReadKey 0x003E link_to    ; >
  ReadKey 0x003C link_from  ; <

  ;The standard layout of MsgEd assigns Ctrl+Right for jumping to the next
  ;reply to a message and Ctrl+Left for jumping to the message the current
  ;message is a reply to. These keys do not work on most unix systems.
  ;Therefore, the two lines above assign the > and the < key to these
  ;functions.

  EditKey 0x0004 del       ; Ctrl + D : Delete Character
  EditKey 0x000e Down      ; Ctrl + N : Next line (one line down)
  EditKey 0x0006 Right     ; Ctrl + F : Forward   (one column to the right)
  EditKey 0x0002 Left      ; Ctrl + B : Backward  (one column to the left)
  EditKey 0x0010 Up        ; Ctrl + P : Previous line (one line up)
  EditKey 0x0001 gobol     ; Ctrl + A : Go to the beginning of the line
  EditKey 0x0005 goeol     ; Ctrl + E : Go to the end of the line
  EditKey 0x000B emacskill ; Ctrl + K : Kill rest of line
  ReadKey 0x000e Down     ; Ctrl + N : One line down (when viewing a mail)
  ReadKey 0x0010 Up     ; Ctrl + P : One line up
  ReadKey 0x0006 next     ; Ctrl + F : next mail
  ReadKey 0x0002 Previous ; Ctrl + P : previous mail
  ReadKey 0x0001 first    ; Ctrl + A : First mail in folder
  ReadKey 0x0005 last     ; Ctrl + E : Last mail in folder
  ;These keywords add some emacs feeling to the internal message editor ;-)


  ReadKey 0x2500 view       ; Alt+K shows kludges
  ;The standard MsgEd keyboard layout assigns Alt+V for toogline the display
  ;of kludge lines on or off. However, Alt+V kollides with the German Umlauts
  ;and therefore is disabled. The line above therefore assigns Alt+K to
  ;this function.


  if TERM=linux

    ReadKey 0x003E link_to    ; >
    ReadKey 0x003C link_from  ; <
    ReadKey 0x5200 newmsg     ; Ins
    ReadKey 0x0005 newmsg     ; Ctrl-E
    ReadKey 0x0065 newmsg     ; e
    ReadKey 0x0012 reply      ; Ctrl-R
    ReadKey 0x0072 reply      ; r
    ReadKey 0x000e repoth     ; Ctrl-N
    ReadKey 0x006e repoth     ; n
    ReadKey 0x0015 followup   ; Ctrl-U
    ReadKey 0x0075 followup   ; u
    ReadKey 0x0003 change     ; Ctrl-C
    ReadKey 0x0063 change     ; c
    ReadKey 0x0008 edithdr    ; Ctrl-H
    ReadKey 0x0068 edithdr    ; h
    ReadKey 0x000d move       ; Ctrl-M
    ReadKey 0x006d move       ; m
    ReadKey 0x0004 delete     ; Ctrl-D
    ReadKey 0x0064 delete     ; d
    EditKey 0x0017 quit       ; Ctrl-w
    EditKey 0x0004 del       ; Ctrl + D
    EditKey 0x000e Down      ; Ctrl + N
    EditKey 0x0006 Right     ; Ctrl + F
    EditKey 0x0002 Left      ; Ctrl + B
    EditKey 0x0010 Up        ; Ctrl + P
    EditKey 0x0001 gobol     ; Ctrl + A
    EditKey 0x0005 goeol     ; Ctrl + E
    EditKey 0x000B emacskill ; Ctrl + K
    ReadKey 0x000e Down     ; Ctrl + N
    ReadKey 0x0010 Up     ; Ctrl + P :
    ReadKey 0x0006 next     ; Ctrl + F
    ReadKey 0x0002 Previous ; Ctrl + P
    ReadKey 0x0001 first    ; Ctrl + A
    ReadKey 0x0005 last     ; Ctrl + E
    ReadKey 0x2500 view       ; Alt+K
  endif

  if TERM=cons25r
    EditKey 0x0017 quit       ; Ctrl-w
    EditKey 0x4b00 wordleft     ; Ctrl + <-
    EditKey 0x4d00 wordright    ; Ctrl + ->
    EditKey 0x0004 del       ; Ctrl + D : Delete Character
    EditKey 0x000e Down      ; Ctrl + N : Next line (one line down)
    EditKey 0x0006 Right     ; Ctrl + F : Forward   (one column to the right)
    EditKey 0x0002 Left      ; Ctrl + B : Backward  (one column to the left)
    EditKey 0x0010 Up        ; Ctrl + P : Previous line (one line up)
    EditKey 0x0001 gobol     ; Ctrl + A : Go to the beginning of the line
    EditKey 0x0005 goeol     ; Ctrl + E : Go to the end of the line
    EditKey 0x000B emacskill ; Ctrl + K : Kill rest of line
    EditKey 0x0008 edithdr   ; Ctrl + H : Edit header
  endif

  ; Allows german umlauts
  ;EnableSC ‰ˆ¸ﬂƒ÷‹
  ; Allows cyrillic koi-8r chars
  ;EnableSC  √’À≈Œ«€›⁄»∆Ÿ◊¡–“œÃƒ÷‹—ﬁ”Õ…‘ÿ¬¿Í„ıÎÂHÁ˚˝˙ËÊ˘˜·ÚÔÏ‰ˆ¸Ò˛ÛÌÈÙ¯‚‡

  ;If your Unix system is configured correctly (i.E. to use the ISO 8859-1
  ;character set), the parameters above should be the German umlauts: a
  ;dieresis, o dieresis, u dieresis, sharp s, A dieresis, O diereisis and U
  ;dieresis. If it doesn't, fix it!
  ;Normally, the Unix version does not allow entry of German umlauts and
  ;other special characters, because in VT100 they conflict which the Alt-key
  ;combinations that MsgEd crucially relies on. If you uncomment the line
  ;from above, you enable the input of these seven special characters. This
  ;is convenient if you are writing German text, but you will not be able
  ;to enter Alt+V any more - a fair compromise.


  ;Linux Console supports color and needs a special tweak for backspace
  IF TERM=linux
    Switch Colors On
    Switch BS127 On

  ;FreeBSD System Console supports color
  ELIF TERM=cons25
    Switch Colors On
    Switch BS127 Off

  ;VT220 terminal emulator  should also support color
  ELIF TERM=vt220
    Switch Colors On
    Switch BS127 Off

  ;*Some* xterms can handle color, so you might want to try switch Colors on
  ELIF XTERM
    Switch Colors Off
    Switch BS127 Off

  ;VT100 or some other terminal - colors may or may not work here
  ELSE
    Switch Colors Off
    Switch BS127 Off
  ENDIF

;Here are some Non-UNIX specific settings:

ELSE

  Template SAMPLE.TPL
  ;The template file defines templates for greetings, signoffs and footers.

  HelpFile MSGHELP.DAT
  ;This is a binary file containing the online help

  Include  SCHEME.001
  ;Include some other configuration file, in this case the color configuration.

ENDIF
